*{
	margin:0px;
}
body{
	background:#FFB6C1;
}
#sec1{
	width:50%;
	margin:5% auto;
}
#img2{
	width:100%;
	height:300px;
}
.main{
	display:block;
	
}
#img1{
	display:none;
}
#sec1-div1{
	width:100%;
}
#sec1-art{
	width:100%;
	background:white;

}
h3{
	padding:15px;
	letter-spacing:2px;
	color:rgba(0,0,0,0.4);
}
h1{
	font-size:42px;
}
.ib{display:inline-block;}
#sec1-art-p{
	font-size:20px;
	color:rgba(0,0,0,0.4);
	padding:15px 0px;
	
}
#sec1-art-div1{
	margin:0px 30px;
	
}
button{
	width:80%;
	height:50px;
	background:#05a95c;
	border:none;
	color:white;
	border-radius:10px;
	margin:20px 20px;
}
#sec1-art-div2{
	padding:20px 0px;	
}
#sec1-art-div2>h2{font-size:200%;color:#05a95c;}
#sec1-art-div2>p{text-decoration:line-through;}